* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
}
body {
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* justify-content: center; */
}
h1 {
  font-size: 1rem;
}
main {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding-top: 1rem;
}
div {
  width: 200px;
  height: 200px;
  border: 1.5px solid #000;

  display: grid;
  place-content: center;
}

div:first-child {
  background-color: rgb(144, 144, 226);

  /* transform: translatex(70%); */
  /* transform: rotateX(30deg); */
  /* transform: scalex(70%); */
  /* transform: skewx(30deg); */
}
div:nth-child(2) {
  background-color: rgb(231, 231, 47);

  /* transform */

  /* transform: translateY(-70px); */
  /* transform: rotateY(90deg); */
  /* transform: scaleY(20%); */
  /* transform: skewy(30deg); */
}
div:last-child {
  background-color: yellowgreen;

  /* transform: translate(-70%, -150px); */
  /* transform: rotatez(30deg); */
  /* transform: scale(200%, 200%); */
  /* transform: skew(30deg, -10deg); */
}

/* transition */

div:hover {
  background-color: midnightblue;

  /* transition-property: background-color;
  transition-duration: 4s;
  /* transition-delay: 0.5s;  both same  */

  transition-timing-function: linear;
  transition: all 5s 0.5s;
}

div:first-child:hover {
  transform: rotate(360deg);
}
.animation {
  /* animation-name: sky;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-fill-mode: forwards; */

  animation: 5s ease-in-out 1s 2 normal forwards sky;
}

@keyframes sky {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(300px) rotate(180deg);
  }
  66% {
    transform: translateX(-300px) rotate(180deg);
  }
  100% {
    transform: translateX(0);
    background-color: rgb(126, 124, 126);
  }
}
