* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  min-height: 200vh;
}
.outer-container {
  border: 4px dashed black;
  width: 75vw;
  height: 85vh;
  margin: 30px auto;
  /* position: relative; */
}
.inner-container {
  border: 2.5px solid brown;
  width: 45vw;
  height: 55vh;
  margin: 150px auto;
  position: relative;
}
.box {
  /* border: 1.8px solid seagreen; */
  width: 120px;
  height: 120px;
  color: white;
  padding: 1rem;
}
.abs {
  background-color: tomato;
  position: absolute;
  left: 125px;
  top: 0;
}
.rel {
  background-color: grey;
  position: relative;
  top: 100px;
}
.fix {
  background-color: lightseagreen;
  position: fixed;
  top: 0;
  left: 500px;

  z-index: 1;
}
.str {
  background-color: palevioletred;
  position: sticky;
  top: 100px;
}
