/* my css mini project */
html {
  background-color: #6a9582;
}
body {
  padding: 20%;
  text-align: center;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
ol {
  margin-left: 25%;
  list-style-type: disc;
  list-style-position: outside;
  text-align: justify;
}
a {
  text-decoration: underline;
  color: brown;
  cursor: grab;
}
