@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito:wght@200&display=swap");

/*|| RESET||  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block; /*which helps to avoid spacing like in-block element*/
  max-width: 100%;
  height: auto;
}

/* tings which intract with users */
input,
button,
textarea {
  font: inherit;
}

/* ||VARIABLES|| */

:root {
  /* FONTS */
  --FF: "Nunito", sans-serif;
  --FF--HEADINGS: "Fugaz one", cursive;
  --FS: clamp(1rem, 2.3vh, 1.5rem);

  /* COLORS */
  --BGCOLOR: rgb(59, 46, 20);
  --BGCOLOR-FADE: rgb(250, 222, 171);
  --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
  --BODY-BGCOLOR: #fff;

  --FONT-COLOR: #000;
  --BORDER--COLOR: #333;
  --HIGHLIGHT-COLOR: rgb(88, 51, 51);

  --LINK-COLOR: #000;
  --LINK-HOVER: hsla(0, 0, 0, 0.5);
  --LINK-ACTIVE: ORANGE;

  --HEADER-BGCOLOR: #000;
  --HEADER-COLOR: #fff;
  --NAV-BGCOLOR: #fff;

  --HERO-BGCOLOR: rgb(70, 46, 46);
  --HERO-COLOR: #fff;

  /* BORDERS */
  --BORDER: 1.5px solid var(--BORDER--COLOR);

  /* STANDARD PADDING */
  --PADDING-TB: 0.25rem;
  --PADDING-SIDE: 2.5%;

  /* STANDARD MARGIN */
  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/* ||DARK MODE */
/* this not working */
@media (prefers-color-scheme: dark) {
  :root {
    --BGCOLOR-FADE: gray;
    --BGCOLOR: #000;
    --BODY-BGCOLOR: #333;
    --BORDER-COLOR: whitesmoke;
    --BUTTON-COLOR: #000;
    --FONT-COLOR: whitesmoke;
    --HEADER-COLOR: whitesmoke;
    --HERO-COLOR: #333;
    --HIGHLIGHT-COLOR: whitesmoke;
    --LINK-ACTIVE: rgb(252, 200, 103);
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: orange;
    --NAV-BGCOLOR: rgb(20, 20, 20);
  }
}

/* ||UTILITY CLASSES|| */

.offscreen {
  position: absolute;
  left: -10000px;
  /* which helps to disapeare the figcaption content */
}
.nowrap {
  white-space: nowrap;
}
.center {
  text-align: center;
}

/* ||GENERAL STYLE */
html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
  background-image: var(--BGIMAGE);
}
body {
  background-color: var(--BODY-BGCOLOR);
  color: var(--FONT-COLOR);
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  border-left: var(--BORDER);
  border-right: var(--BORDER);
  box-shadow: 0 0 11px var(--BORDER--COLOR);
}

h1,
h2,
h3 {
  font-family: var(--FF--HEADINGS);
  letter-spacing: 0.1em;
}
h2,
h3 {
  margin-bottom: 1em;
  color: var(--HIGHLIGHT-COLOR);
}

p {
  line-height: 1.5;
}
a:any-link {
  color: var(--LINK-COLOR);
}
a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}
a:active {
  color: var(--LINK-ACTIVE);
}
/* ||HEADER|| */

header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.header__h1 {
  text-align: center;
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-COLOR);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.header__nav {
  background-color: var(--NAV-BGCOLOR);
  border-bottom: var(--BORDER);
  font-weight: bold;
  box-shadow: 0 6px 5px -5px var(--BORDER--COLOR);
}

.header__ul {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

/* ||HERO|| */
.hero {
  position: relative;
}
.hero__h2 {
  background-color: var(--HERO-BGCOLOR);
  color: var(--HERO-COLOR);
  padding: 0.25em 0.5em;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 5px var(--BORDER--COLOR);
  position: absolute;
  left: 20px;
  top: -100px;
  animation: showAnimation 0.6s ease-in-out 0.8s forwards;
}

@keyframes showAnimation {
  0% {
    top: -20px;
    transform: skew(0deg, -5deg) scaley(0);
  }
  70% {
    top: 30px;
    transform: skew(10deg, -5deg) scaley(1.3);
  }
  100% {
    top: 20px;
    transform: skew(-10deg, -5deg) scaley(1);
  }
}

/* ||MAIN */
.main {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}
.main__article {
  scroll-margin-top: 6.5rem;
  margin: var(--MARGIN);
}
.main__article:first-child {
  margin-top: 1em;
}
.margin__article:last-child {
  min-height: calc(100vh - 20rem);
}

/* ||ABOUT */
.about__taco {
  margin: var(--MARGIN);
}

.about__taco-answer {
  margin-top: 1em;
}

/* ||CONTACT */
.contact h2 {
  margin: 0;
}
.contact__fieldset {
  border: none;
}
.contact__p {
  margin: 1em 0;
}
.contact__label {
  display: block;
  font-weight: bold;
}
.contact__input,
.contact__textarea {
  padding: 0.5em;
  border-radius: 12px;
  border-width: 1.3 px;
  width: 100%;
}
.contact__button {
  padding: 0.5em;
  border-radius: 12px;
  background-color: var(--HIGHLIGHT-COLOR);
  color: #fff;
}
.contact__button:hover {
  border: 2px solid var(--HIGHLIGHT-COLOR);
  background-color: var(--HEADER-COLOR);
  color: var(--HIGHLIGHT-COLOR);
  transform: scale(110%, 110%);
}
.button {
  display: flex;
  gap: 0.6em;
}
/* ||FOOTER */
.footer {
  position: sticky;
  bottom: 0;
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-COLOR);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  text-align: center;
}

/* ||MENU */

thead,
tbody,
tfoot,
tr {
  display: contents;
}

.menu__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 50px auto 50px; */
  grid-template-areas:
    "hd1 hd2 hd3"
    "cr cr1 cr1p"
    "cr cr2 cr2p"
    "cr cr3 cr3p"
    "sf sf1 sf1p"
    "sf sf2 sf2p"
    "sf sf3 sf3p"
    "cs cs cs";
  gap: 0.2em;
  margin-bottom: 1.2em;
}
.menu__cr {
  grid-area: cr;
}
.menu__sf {
  grid-area: sf;
}

.menu_cs {
  grid-area: cs;
  color: var(--HIGHLIGHT-COLOR);
  font-weight: bold;
  /* width: 100%; */
  /* display: flex;
  flex-flow: column nowrap; */
}
.menu__cr,
.menu__sf,
.menu__cs,
.menu__header {
  font-weight: bold;
  height: 100%;
  color: var(--HIGHLIGHT-COLOR);
  display: grid;
  place-content: center;
}
.menu__header,
.menu__items {
  /* border-bottom: var(--BORDER);*/
  width: 100%;
  padding: 1em;
  border: medium ridge var(--BORDER--COLOR);
  /* border-radius: 10px; */
}
.menu__items {
  display: grid;
  place-content: center;
}
thead th:first-child {
  border-top-left-radius: 10px;
}
thead th:last-child {
  border-top-right-radius: 10px;
}
tfoot td {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* ||MEDIA QUERIE */

@media screen and (min-width: 567px) {
  .header__h1::before {
    content: "\2615  ";
  }
  .header__h1::after {
    content: " \2615";
  }

  .menu__header,
  .menu__cr,
  .menu__sf,
  .menu__cs {
    font-size: 130%;
  }
}
/* HERE WE ARE SUCCESSFULLY COMPLETED THE STYLE CSS FOR KAPI KADA ..//
some major defect in here is dark mode not working and also the colmspan attribute or grid area template was also not working. */
